/* ================================
    Base Element Styles
   ================================ */
* {
  box-sizing: border-box;
}

body {
  color: #2b2b2b;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 5%;
}

header,
nav,
section,
main {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

a,
h3 {
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

p {
  color: #696969;
  font-size: 1.25rem;
}

/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */



/* ----- Layout Containers ----- */



/* ------- Page Elements ------- */



/* ================================
    Media Queries
   ================================ */

@media only screen and (min-width: 768px) {
  
  
}



/* ================================
    Helper Classes
   ================================ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ================================
    Print Styles
   ================================ */

@media print {

    
}


