/* ================================
    Base Element Styles
   ================================ */
* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  color: #2b2b2b;
  font-size: 0.95rem;
  line-height: 1.4;
  margin: 0 5%;
  font-family: 'Raleway', sans-serif;
}

header,
nav,
section,
main {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

a,
h1,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a,
h3 {
  text-decoration: none;
  text-transform: uppercase;
}

a {
  display: block;
  color: #2b2b2b;
  padding: 12px 0;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

p {
  color: #696969;
  font-size: 1.2rem;
  margin: 0;
}

/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */



/* ----- Layout Containers ----- */



/* ------- Page Elements ------- */

.profile-image {
  padding: 25px 50px;
}

/* ================================
    Media Queries
   ================================ */

@media only screen and (min-width: 768px) {
  
  
}



/* ================================
    Helper Classes
   ================================ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ================================
    Print Styles
   ================================ */

@media print {

    
}


