/* ================================
    Base Element Styles
   ================================ */
* {
  box-sizing: border-box;
/*  border: 1px solid red;*/
}

body {
  color: #2b2b2b;
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0 4%;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a,
h1,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a,
h3 {
  text-decoration: none;
  text-transform: uppercase;
}

h3 {
  margin: 60px 0;
}

a {
  display: block;
  font-size: 1rem;
  color: #696969;
  padding: 12px 0;
}

img {
  max-width: 100%;
}

p {
  color: #696969;
  font-size: 1.2rem;
  margin: 0;
}

hr {
  opacity: 0.4;
}



/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */



/* ----- Layout Containers ----- */

header,
nav,
section,
main {
  text-align: center;
}

section,
main {
  padding-bottom: 50px;
}

footer {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* ------- Page Elements ------- */

.profile-image {
  padding: 30px 50px;
}

.portfolio-img {
  margin-top: 40px;
}

.portfolio-img:first-of-type {
  margin-top: 0;
}

#message {
  padding-bottom: 20px;
}

.contact-info {
  margin: 25px 0;
}



/* ================================
    Media Queries
   ================================ */

@media only screen and (min-width: 768px) {
  
  
}



/* ================================
    Helper Classes
   ================================ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}



/* ================================
    Print Styles
   ================================ */

@media print {

    
}


